// mes_demandes.module.scss

.demandCard {
  width: 90%;
  max-width: 400px;
  margin-top: 3.25rem;

  .card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    overflow: hidden;
    padding: 1.25rem;
    position: relative;
    transition: .15s ease-in;
    border: 2px dotted #E7E7E7;
    /* &:hover, &:focus-within {
       box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
       transform: translateY(-5px);
     }*/
  }


  .cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-weight: 600;
      font-size: 1.375rem;
      line-height: 1.25;
      padding-right: 1rem;
      text-decoration: none;
      color: inherit;
      will-change: transform;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    .statusIcon {
      margin-left: auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .in_progress {
      background-color: #E7E7E7;
    }

    .accepted {
      background-color: #14AE5C;
    }

    .refused {
      background-color: #FF4D4D;
    }

    .waiting {
      background-color: #FFCD29;
    }

  }

  .cardBody {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    color: #787878;
    font-size: 1rem;
    line-height: 1.5;
    p {
      margin: 0;
    }
  }

  .cardFooter {
    margin-top: 1.25rem;
    border-top: 1px solid #ddd;
    padding-top: 1.25rem;
  }

  .cardMeta {
    display: flex;
    justify-content: center;
  }

  .cardButton {
    background-color: #100DB1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #147D63;
    }
  }

}
